@{
    ViewBag.Title = "KHANDAY";
    Layout = "~/Views/Shared/_LayoutPortfolio.cshtml";
}

<!--/ Intro Skew Star /-->
<div id="home" class="intro route bg-image" style="background-image: url('../../Content/img/codemites.jpg')">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <!--<p class="display-6 color-d">Hello, world!</p>-->
                <h1 class="intro-title mb-4">I am Khanday Jeelani</h1>
                <p class="intro-subtitle">
                    <span class="text-slider-items">
                        <em>Team Leader DevOps,.NET Web Application Developer,Web Designer,Frontend Developer,Graphic Designer</em>
                    </span><strong class="text-slider"></strong>
                </p>
                 @*<p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p>*@
            </div>
        </div>
    </div>
</div>
<!--/ Intro Skew End /-->

<!--/ Section About Start /-->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="~/Content/img/info.jpg" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s">Name: </span> <span>Ghulam Jeelani Khanday</span></p>
                                        <p><span class="title-s">Profile: </span> <span>Full Stack Developer</span></p>
                                        <p><span class="title-s">Email: </span> <span>khandayinfo@gmail.com</span></p>
                                        <p><span class="title-s">Phone: </span> <span>(+91) 91032-55014</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf">
                                <p class="title-s">Skill</p>
                                <span>Web Development</span> <span class="pull-right">90%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>Andriod Development</span> <span class="pull-right">80%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>IOS Development</span> <span class="pull-right">85%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <span>Digital Marketing</span> <span class="pull-right">80%</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Who I Am?
                                    </h5>
                                </div>
                                <p class="lead">
                                    I am a Web Application Developer from Anantnag J&K. I manufacture vivid and lovely web 
                                    applications and virtual products through painstakingly made code and client driven 
                                    structure.
                                </p>
                                <p class="lead">
                                    I spend significant time in making the wonderful, usable, capable web applications using 
                                    best open latest advancements. I like structure things to handle issues. Having quite a 
                                    while of involvement with wide scope of configuration disciplines concentrating on client 
                                    collaboration and client experience.
                                </p>
                                <p class="lead">
                                    Working up the dynamic, interactive,secured and responsive web applications that ensured high 
                                    development , webpage hits, customer experience. Effectively searched for extraordinary exercises 
                                    to make programming and organization capacities.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section About Ends /-->

<!--/ Section Services Star /-->
<section id="service" class="services-mf route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Services
                    </h3>
                    <p class="subtitle-a">
                        Web Based Services That I Provide To My Clients / Customers
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-monitor"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Design</h2>
                        <p class="s-description text-center">
                            Complete Graphics Designing 
                            Solutions 
                            Including Innovative Logo Designing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-code-working"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Development</h2>
                        <p class="s-description text-center">
                            I plan and grow High quality, 
                            Search 
                            motor amicable Web Applications.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-social-codepen"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">UX/UI Design</h2>
                        <p class="s-description text-center">
                            Giving best UI/UX Design Services 
                            for 
                            Designing Mobile and Web Applications.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Responsive Design</h2>
                        <p class="s-description text-center">
                            Offering quality support of versatile 
                            application 
                            advancement for IOS, Android and HTML stages.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-man"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Custom Software</h2>
                        <p class="s-description text-center">
                            Giving Highly quality and tweaked Software improvement 
                            benefits 
                            that incorporate assortment of innovation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-android-done"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">SEO</h2>
                        <p class="s-description text-center">
                            I do Search Engine Optimization for sites to improve
                            its perceivability 
                            on natural query output pages for right watchwords.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Services End /-->

<div class="section-counter paralax-mf bg-image" style="background-image: url(~/Content/img/counters-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">15</p>
                        <span class="counter-text">WORKS COMPLETED</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">5</p>
                        <span class="counter-text">YEARS OF EXPERIENCE</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ios-people"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">150</p>
                        <span class="counter-text">TOTAL CLIENTS</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="counter-box pt-4 pt-md-0">
                    <div class="counter-ico">
                        <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
                    </div>
                    <div class="counter-num">
                        <p class="counter">02</p>
                        <span class="counter-text">AWARD WON</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/ Section Portfolio Star /-->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Portfolio
                    </h3>
                    <p class="subtitle-a">
                        Websites Which Specifies My Work
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/Content/img/work-1.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="~/Content/img/work-1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Lorem impsum dolor</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/Content/img/work-2.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="~/Content/img/work-2.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Loreda Cuno Nere</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/Content/img/work-3.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="~/Content/img/work-3.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Mavrito Lana Dere</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/Content/img/work-4.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="~/Content/img/work-4.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Bindo Laro Cado</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/Content/img/work-5.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="~/Content/img/work-5.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Studio Lena Mado</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="~/Content/img/work-6.jpg" data-lightbox="gallery-mf">
                        <div class="work-img">
                            <img src="~/Content/img/work-6.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="work-content">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="w-title">Studio Big Bang</h2>
                                    <div class="w-more">
                                        <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w-like">
                                        <span class="ion-ios-plus-outline"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!--/ Section Portfolio End /-->

<!--/ Section Testimonials Star /-->
<div class="testimonials paralax-mf bg-image" style="background-image: url(img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-mf" class="owl-carousel owl-theme">
                    <div class="testimonial-box">
                        <div class="author-test">
                            <img src="~/Content/img/testimonial-2.jpg" alt="" class="rounded-circle b-shadow-a">
                            <span class="author">Xavi Alonso</span>
                        </div>
                        <div class="content-test">
                            <p class="description lead">
                                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                            </p>
                            <span class="comit"><i class="fa fa-quote-right"></i></span>
                        </div>
                    </div>
                    <div class="testimonial-box">
                        <div class="author-test">
                            <img src="~/Content/img/testimonial-4.jpg" alt="" class="rounded-circle b-shadow-a">
                            <span class="author">Marta Socrate</span>
                        </div>
                        <div class="content-test">
                            <p class="description lead">
                                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                            </p>
                            <span class="comit"><i class="fa fa-quote-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--/ Section Blog Star /-->
<section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Blog
                    </h3>
                    <p class="subtitle-a">
                       Let's Seek Some Knowledge About Web Development
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="blog-single.html"><img src="~/Content/img/post-1.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">Travel</h6>
                            </div>
                        </div>
                        <h3 class="card-title"><a href="blog-single.html">See more ideas about Travel</a></h3>
                        <p class="card-description">
                            Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis
                            a pellentesque nec,
                            egestas non nisi.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img src="~/Content/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                <span class="author">Morgan Freeman</span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="ion-ios-clock-outline"></span> 10 min
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="blog-single.html"><img src="~/Content/img/post-2.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">Web Design</h6>
                            </div>
                        </div>
                        <h3 class="card-title"><a href="blog-single.html">See more ideas about Travel</a></h3>
                        <p class="card-description">
                            Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis
                            a pellentesque nec,
                            egestas non nisi.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img src="~/Content/" alt="" class="avatar rounded-circle">
                                <span class="author">Morgan Freeman</span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="ion-ios-clock-outline"></span> 10 min
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-blog">
                    <div class="card-img">
                        <a href="blog-single.html"><img src="~/Content/img/post-3.jpg" alt="" class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <div class="card-category-box">
                            <div class="card-category">
                                <h6 class="category">Web Design</h6>
                            </div>
                        </div>
                        <h3 class="card-title"><a href="blog-single.html">See more ideas about Travel</a></h3>
                        <p class="card-description">
                            Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent sapien massa, convallis
                            a pellentesque nec,
                            egestas non nisi.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="post-author">
                            <a href="#">
                                <img src="~/Content/img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                <span class="author">Morgan Freeman</span>
                            </a>
                        </div>
                        <div class="post-date">
                            <span class="ion-ios-clock-outline"></span> 10 min
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-primary float-right">More Blogs</a>
    </div>
</section>
<!--/ Section Blog End /-->